<!-- Navigation Component -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="Images/Vanoffee Transparent.png" alt="Vanoffee Crepes" height="90" class="d-inline-block align-text-top">
        </a>
        
        <!-- Hamburger Menu Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Mobile Search (at top of hamburger menu) -->
            <div class="mobile-search d-lg-none">
                <div class="search-container">
                    <div class="search-input-wrapper">
                        <input type="text" class="search-input" id="mobileSearchInput" placeholder="Search menu, gallery, about..." />
                        <button class="search-close" id="mobileSearchClose">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <button class="nav-link search-toggle" id="mobileSearchToggle" title="Search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            
            <div class="navbar-nav mx-auto">
                <a class="nav-link" href="index.html">HOME</a>
                <a class="nav-link" href="about.html">ABOUT US</a>
                <a class="nav-link" href="menu.html">MENU</a>
                <a class="nav-link" href="gallery.html">GALLERY</a>
                <a class="nav-link" href="contact.html">CONTACT</a>
            </div>
            
            <!-- Desktop Search (hidden on mobile) -->
            <div class="desktop-search d-none d-lg-block">
                <div class="search-container">
                    <div class="search-input-wrapper">
                        <input type="text" class="search-input" id="desktopSearchInput" placeholder="Search menu, gallery, about..." />
                        <button class="search-close" id="desktopSearchClose">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <button class="nav-link search-toggle" id="desktopSearchToggle" title="Search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav> 